* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #424242;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 56px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav ul li a:hover {
    color: #9e9b9b;
}

main {
    padding: 20px;
}

main div {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

h2 {
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

span {
    color: #777;
    display: block;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}